<div class="main">
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-lg-6 m-5 p-4 box">
				<div class="row lineb">
					<div class="input-group mb-3">
						<input type="text" class="form-control input-data" [(ngModel)]="textValue" placeholder="Add a new task">
						<div class="input-group-append">
							<button type="button" class="btn btn-bg" [disabled]="!textValue.length" (click)="addDatatoTask()">ADD TASK</button>
						</div>
					</div>
				</div>
				<div class="row" *ngFor="let task of tasks">
					<app-task [mytask]="task" (taskCompleteEvent)="setTaskStatus($event)"></app-task>
				</div>
				<div class="row mt-3" *ngIf="tasks.length == 0"> <span class="small">All tasks have been completed.</span> </div>
				<div class="row mt-3">
					<div>
						<button type="button" class="btn btn-bg" (click)="clearTask()">CLEAR COMPLETED TASKS</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>